/* Eliminamos márgenes y ponemos fondo de página negro */
/* html,body {
    margin:0;
  } */
  
  #gameContainer{
    width: 100%;
    height: 100%;
    border: solid coral 3px;
    
  }
  /* Animación del personaje */
  #bird {
    /* Tamaño de la viñeta individual */
    border: solid black 3px;
    width:79px;
    height:71px;
    left: 220px;
    bottom: 100px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    margin:auto;  
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background:url(bird2.png) repeat-x;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    animation:fly .4s steps(4) infinite;
    /* animation: fall .4s ease-in-out; */
    /* Posicionamos el personaje sobre el camino de madera */
    position:relative;
  
  }
  
  /* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
  @keyframes fly {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-325px }
  }
  
  @keyframes fall{
    0% {background-position: 100px}
    100% {background-position: 700px}
  }
  /* Animación del cielo. Efecto "Parallax", va más lento que el mar. */
  #city {
    background:url(fondo1.png) repeat-X;
    height: 600px;
    
    animation: movebg 9s linear infinite;
    position: relative;
  
  }

 /* // @keyframes down {
 //   0% {top: 150px}
 //   100% {top: 500px}
 // } */



@keyframes progressBar {
  0% { width: var(--my-start-width); }
  100% { width: var(--my-end-width); }
}

  @keyframes up {
    0% {top: var(myVar0, 150px);}
    100% {top: var(myVar100, -500px);}
  }


  /* Animación del mar. */
  #pipeline{
    /* background:url(p.png) no-repeat; */
    height:100%;
    width:100px;
     position: absolute; 
     margin-left:900px; 
    /* justify-content: space-between; */
    animation: pipe .50s linear .20s infinite;
    display: flex;
    flex-direction: row;
    
  }

  .topPipe{
    border: solid black 3px;
    height: 200px;
    width: 100%;   
    background:url("p.png") ;
    transform: rotate(180deg);
    position: relative;

  }

  .bottomPipe{
    border: solid black 3px;
    height: 200px;
    width: 100%;
    margin-top: 300px; 

    position: relative;
    background:url("p.png") ;
  
  }
  
  /* Animación para mover cielo y mar */
  @keyframes movebg {
    0% { background-position:300px } 
    100% { background-position:0 }
  }


  @keyframes pipe {
    0%   { background-position: 0px; }
    100% { background-position: 100%; }
  }

